@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

html {
  font-size: 62.5%;
  font-family: "Urbanist";
  scroll-behavior: smooth;
}

body {
  padding: 20px 40px;
}

header {
  background-color: $white;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  min-height: 75px;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 999;
  box-shadow: 2px 2px 5px rgba(36, 138, 227, 0.1);
  nav {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    transition: all 300ms;
    ul {
      li {
        transition: all 300ms;
        display: inline-block;
        a {
          padding: 10px 25px;
          display: flex;
          transition: all 300ms;
          text-decoration: none;
          border-radius: 60px;
          margin-right: 20px;
          font-size: 2rem;
          color: $gold;
          border: 1px solid $gold;
          background-color: $white;
          &:hover {
            background-color: $gold;
            color: white;
          }
          &:active {
            background-color: $gold;
          }
        }
        &:last-of-type {
          display: none;
        }
      }
    }
  }
}

.titel {
  transition: all 300ms;
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 45px 1fr;
  gap: 10px;
  margin-bottom: 40px;

  .icons {
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    margin-right: 5px;
    background-color: $gold;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: $white;
  }
  h2 {
    transition: all 300ms;
    font-size: 4rem;
    color: $gold;
    font-weight: 800;
    span {
      color: $darkblue;
    }
  }
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  margin-top: 120px;

  h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
    color: $darkblue;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: $gold;
      top: 50px;
      left: calc(50% - 25px);
    }
  }
  main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    section {
      background-color: $white;
      padding: 10px;
      width: 70%;
      display: flex;
      flex-wrap: wrap;

      .zoneNews {
        padding-bottom: 50px;
      }
      .zoneMusic {
        padding-bottom: 50px;
        width: 100%;

        & .songitem {
          & .btn__like,
          & .btn__trash {
            top: 15px;
          }
        }
      }
      .zonePhoto {
        padding-bottom: 50px;
        width: 100%;
      }
      .btn__like,
      .btn__trash {
        position: absolute;

        font-size: 1.6rem;

        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 300ms;
        &:hover {
          transform: scale(1.1);
        }
        svg {
          pointer-events: none;
        }
      }
      .btn__trash {
        right: 15px;
        bottom: 15px;
        border: 1px solid $darkblue;
        color: $darkblue;
      }
      .btn__like {
        right: 50px;
        bottom: 15px;
        border: 1px solid $gold;
        color: $gold;
      }
      .like--active {
        background-color: $gold;
        color: white;
      }
    }
  }
  aside {
    transition: all 300ms;
    width: 40%;
    border: 1px solid $gold;
    margin-left: 30px;
    padding: 10px 20px;
    border-radius: 25px;
    height: fit-content;
  }
}

@media screen and (max-width: 1150px) {
  .container {
    aside {
      width: 40%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 95%;
  }
  .titel {
    .icons {
      font-size: 2rem;
      height: 40px;
      width: 40px;
    }
    h2 {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 740px) {
  body {
    padding: 20px 10px;
  }

  .titel {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 700px) {
  body {
    padding: 0;
  }
  header {
    nav {
      margin: 0 auto;
      width: 95%;
      max-width: 1200px;
      justify-content: center;
      ul {
        li {
          &:last-of-type {
            display: inline-block;
            a {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
  .container {
    main {
      flex-wrap: wrap;

      section {
        width: 100%;
        .photoitems {
          grid-template-columns: 1fr;
          position: relative;
          padding-bottom: 80px;
          &::after {
            content: "";
            display: block;
            position: absolute;
            height: 1px;
            width: 100%;
            bottom: 0;
            background-color: #033e8c;
          }
        }
      }
      aside {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  header {
    background-color: $white;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    min-height: 75px;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 999;
    box-shadow: 2px 2px 5px rgba(36, 138, 227, 0.1);
    nav {
      width: 95%;
      justify-content: center;
      ul {
        li {
          display: inline-block;
          a {
            padding: 10px 15px;
            margin-right: 10px;
          }
          &:last-of-type {
            display: inline-block;
            a {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
}
